{% if snippet_instance.settings.section_identifier != blank %}
  {% assign section_id = snippet_instance.settings.section_identifier %}
{% else %}
  {%- capture section_id -%} section-{{-snippet_instance.id-}} {%- endcapture -%}
{% endif %}

{% liquid 
  if snippet_instance.settings.enable_custom_styles
    render 'section-styles', section_id: section_id, instance_settings: snippet_instance.settings 
  endif

  assign text_shadow = blank %}
  
{% if snippet_instance.settings.text_shadow != blank %}
  {%- capture text_shadow -%}text-shadow__{{- snippet_instance.settings.text_shadow -}} {%- endcapture -%}
{% endif %}

{% assign parallax_class = blank %}
{% if snippet_instance.settings.parallax and snippet_instance.settings.enable_custom_styles %}
  {% assign parallax_class = 'section__content_parallax' %}
{% endif %}
<div id="{{ section_id }}" class="section {{ parallax_class }}">
  {%- capture section_attributes -%}
    {% if snippet_type == 'section' %}
      data-section-id="{{ snippet_instance.id }}" data-section-type="{{ section_type }}"
    {% else %}
      data-block-id="{{ snippet_instance.id }}" data-block-type="{{ section_type }}"
    {% endif %}
  {%- endcapture -%}
  <div {{ section_attributes }}
    class="content-section {{ section_class }} section__background {{ text_shadow }}">
    {% if snippet_instance.settings.darken != blank %}
    <div class="background_darken"></div>
    {% endif %}
    
    {% liquid
      case snippet_name
        when 'custom-html'
          render 'custom-html', snippet_instance: snippet_instance, snippet_type: snippet_type    

        when 'call-to-action'
          render 'call-to-action', snippet_instance: snippet_instance, snippet_type: snippet_type

        when 'contact-form'
          render 'contact-form', snippet_instance: snippet_instance, snippet_type: snippet_type

        when 'featured-collections'
          render 'featured-collections', snippet_instance: snippet_instance, snippet_type: snippet_type

        when 'featured-products'
          render 'featured-products', snippet_instance: snippet_instance, snippet_type: snippet_type

        when 'google-maps'
          render 'google-maps', snippet_instance: snippet_instance, snippet_type: snippet_type

        when 'image-text'
          render 'image-text', snippet_instance: snippet_instance, snippet_type: snippet_type

        when 'newsletter'
          render 'newsletter', snippet_instance: snippet_instance, snippet_type: snippet_type

        when 'recent-posts'
          render 'recent-posts', snippet_instance: snippet_instance, snippet_type: snippet_type

        when 'custom-text'
          render 'custom-text', snippet_instance: snippet_instance, snippet_type: snippet_type 
          
        when 'youtube-video'
          render 'youtube-video', snippet_instance: snippet_instance, snippet_type: snippet_type            
        
        when 'page-content'
          render 'page-content', snippet_instance: snippet_instance, snippet_type: snippet_type
        
        when 'page-contact'
          render 'page-contact', snippet_instance: snippet_instance, snippet_type: snippet_type
      endcase
    %}    
  
  </div>
</div>
